body {
  margin: 0;
  padding: 0;
  background: url('https://firebasestorage.googleapis.com/v0/b/srm-connect-007.appspot.com/o/paul-earle-wVjd0eWNqI8-unsplash.jpg?alt=media&token=ae7757fd-0b0b-4fd2-bf3b-abc09a09e883') center;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.Grid {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}







